body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #59c3c3, #4a90e2);
    color: #333;
}

h1 {
    text-align: center;
    color: white;
    padding: 20px 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.events {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    flex: 1;
    min-width: 300px;

}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input,
select,
textarea,
button {
    width: 96%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;

}


button {
    background: #4a90e2;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;

}

button:hover {
    background: #357bd8;
}

.demo {
    margin-top: 20px;
    background: #e8e8e8;
    padding: 15px;
    border-radius: 10px;
}



.event {
    background: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}


.close-btn {
    float: right;
    font-size: 20px;
    color: #ff4c4c;
    cursor: pointer;
    margin-top: -5px;
}